/* Base Styles */
.product-container {
  background-color: rgb(245, 245, 247);
  padding: 20px;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(245, 245, 247);
  padding: 20px;
  box-sizing: border-box;
}

.product-header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.product-header p {
  font-size: 1.2rem;
  text-align: center;
}

/* Product Section */
.two-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
}

.product-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
  box-sizing: border-box;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-item h2 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

/* Media Queries */

/* Medium screens (tablets, 768px and up) */
@media (max-width: 991px) {
  .product-box {
    padding-left: 50px;
    padding-right: 50px;
  }

  .product-header h1 {
    font-size: 2rem;
  }

  .product-header p {
    font-size: 1.1rem;
  }

  .product-item h2 {
    font-size: 1.3rem;
  }

  .product-item p {
    font-size: 0.9rem;
  }
}

/* Small screens (phones, 576px and up) */
@media (max-width: 767px) {
  .product-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-header h1 {
    font-size: 1.8rem;
  }

  .product-header p {
    font-size: 1rem;
  }

  .product-item h2 {
    font-size: 1.2rem;
  }

  .product-item p {
    font-size: 0.85rem;
  }
}

/* Extra small screens (phones, less than 576px) */
@media (max-width: 575px) {
  .product-box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-header h1 {
    font-size: 1.5rem;
  }

  .product-header p {
    font-size: 0.9rem;
  }

  .product-item h2 {
    font-size: 1rem;
  }

  .product-item p {
    font-size: 0.75rem;
  }
}
