/* Reset and base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

/* New class names based on the provided structure */
.nbl-page {
  max-width: 100%;
  margin: 0;
  padding: 10px;
}

.nbl-header {
  text-align: center;
  margin-bottom: 20px;
}

.nbl-header-title {
  font-size: 2em;
  margin: 0;
}

.nbl-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adjust space between the image slider and description */
}

.nbl-images {
  flex: 1 1 30%; /* Adjust the width of product images */
}

.nbl-image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust space between images */
}

.nbl-image-container {
  flex: 1 1 calc(50% - 10px); /* Adjust the width of each image container */
  padding: 5px;
}

.nbl-image {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.nbl-image:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nbl-description {
  flex: 1 1 60%; /* Adjust the width of product description */
  display: flex;
  flex-direction: column;
  text-align: left; /* Align text to the left */
  gap: 20px; /* Space between description and features */
}

.nbl-content {
  padding: 10px; /* Adjusted padding */
}

.nbl-specs-and-features {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Space between specifications and features sections */
}

.nbl-specifications,
.nbl-features {
  flex: 1 1 50%; /* Adjust the width of each section */
}

.nbl-specifications h2,
.nbl-features h2 {
  margin-bottom: 10px;
}

.nbl-specifications ul,
.nbl-features ul {
  list-style: none;
  padding: 0;
}

.nbl-specifications li,
.nbl-features li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px; /* Space for the dash */
}

.nbl-specifications li::before,
.nbl-features li::before {
  content: "-";
  position: absolute;
  left: 0;
}

@media (max-width: 1200px) {
  .nbl-details {
    flex-direction: column;
  }
  .nbl-images,
  .nbl-description {
    flex: 1 1 100%;
  }
  .nbl-image-row {
    display: flex;
    flex-wrap: wrap;
  }
  .nbl-image-container {
    flex: 1 1 calc(50% - 10px);
    padding: 5px;
  }
  .nbl-specs-and-features {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nbl-header-title {
    font-size: 1.5em;
  }
  .nbl-images,
  .nbl-description {
    flex: 1 1 100%;
  }
  .nbl-image-container {
    flex: 1 1 100%;
  }
  .nbl-details {
    gap: 10px;
  }
  .nbl-content {
    padding-left: 20px;
  }
}

@media (max-width: 576px) {
  .nbl-header-title {
    font-size: 1.2em;
  }
  .nbl-image-container {
    flex: 1 1 100%;
    padding: 5px;
  }
  .nbl-content {
    padding-left: 15px;
  }
}
