.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-header {
  margin-bottom: 20px;
}

.productHeader {
  font-size: 2rem;
}

.product-details {
  width: 80%; /* Adjust as needed to control overall width */
  display: flex;
  justify-content: center;
}

.product-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust spacing between image-slider and description */
}

.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust spacing between images */
  width: 100%;
  margin-bottom: 20px; /* Adjust spacing between rows */
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.product-image:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
}

.modal-close {
  right: 30px;
}
.modal-close:hover {
  cursor: pointer;
}

.modal-prev {
  left: 10px;
}

.modal-next {
  right: 10px;
}
