body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.product-page {
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.product-header {
  text-align: center;
  margin-bottom: 20px;
}

.productHeader {
  font-size: 2em;
  margin: 0;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adjust space between the image slider and description */
}

.slick-slide {
  padding: 5px; /* Reduce padding to bring images closer */
}

.product-image {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-image:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-content {
  flex: 1 1 20%; /* Adjust the width of product content (image slider) */
}

.product-description {
  flex: 1 1 60%; /* Adjust the width of product description */
  display: flex;
  flex-direction: column;
  text-align: left; /* Align text to the left */
  gap: 20px; /* Space between description and features */
}

.specs-and-features {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Space between specifications and features sections */
}

.specifications,
.features {
  flex: 1 1 50%; /* Adjust the width of each section */
}

.product-description h2 {
  margin-bottom: 10px;
}

.product-description ul {
  list-style: none;
  padding: 0;
}

.product-description li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px; /* Space for the dash */
}

.product-description li::before {
  content: "-";
  position: absolute;
  left: 0;
}

@media (max-width: 1200px) {
  .product-details {
    flex-direction: column;
  }
  .product-content,
  .product-description {
    flex: 1 1 100%;
  }
  .product-content .image-row {
    display: flex;
    flex-wrap: wrap;
  }
  .product-content .image-row div {
    flex: 1 1 50%;
    padding: 5px;
  }
  .specs-and-features {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .productHeader {
    font-size: 1.5em;
  }
  .product-content,
  .product-description {
    flex: 1 1 100%;
  }
  .product-content .image-row div {
    flex: 1 1 100%;
  }
  .product-details {
    gap: 10px;
  }
  .product-description ul {
    padding-left: 20px;
  }
}

@media (max-width: 576px) {
  .productHeader {
    font-size: 1.2em;
  }
  .product-content .image-row div {
    flex: 1 1 100%;
    padding: 5px;
  }
  .product-description ul {
    padding-left: 15px;
  }
}
